@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}
.toggler-wrapper input[type=checkbox] {
  display: none;
}
.toggler-wrapper input[type=checkbox]:checked + .toggler-slider {
  background-color: rgb(158, 0, 49);
}
.toggler-wrapper input[type=checkbox]:checked + .toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
}
.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
  width: 55px;
}
.toggler-wrapper .toggler-slider:after {
  position: absolute;
  top: 50%;
  left: calc(100% + 5px);
  transform: translateY(-50%);
  font-size: 75%;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.7;
  min-width: 150px;
}
.toggler-wrapper .toggler-knob {
  position: absolute;
  transition: all 300ms ease;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}
.toggler-wrapper.banned input[type=checkbox]:checked + .toggler-slider:after {
  content: "Banni";
  width: 150px;
}
.toggler-wrapper.banned .toggler-slider:after {
  content: "Pas banni";
}
.toggler-wrapper.email-blocked input[type=checkbox]:checked + .toggler-slider:after {
  content: "Email bloqué";
  width: 150px;
}
.toggler-wrapper.email-blocked .toggler-slider:after {
  content: "Email ok";
  width: 170px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  padding-top: 100px;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

button {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  border: none;
  text-transform: uppercase;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background: rgba(211, 97, 53, 0.7);
  color: white;
  transition: 0.5s;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background: #d36135;
}

fieldset {
  border-radius: 1rem;
  border: 1px solid rgba(119, 141, 169, 0.5);
}
fieldset legend {
  padding: 5px 1rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
  text-align: center;
}

#conteneur {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 0;
  box-shadow: 0 0 5px rgba(13, 27, 42, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}
#menu a {
  text-decoration: none;
  color: rgb(27, 38, 59);
}
#menu > a {
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  transform: scaleY(1.5);
  line-height: 3.5rem;
  color: rgb(211, 97, 53);
  text-transform: uppercase;
  font-weight: 200;
  background: rgb(211, 97, 53);
  color: white;
  padding: 0 0 0 1rem;
}
#menu > a::after {
  content: "";
  position: absolute;
  right: -50px; /* Position à droite */
  top: 0; /* Position en haut */
  bottom: 0; /* S'étend jusqu'en bas */
  width: 50px; /* Largeur de la "bordure" */
  background: linear-gradient(to top left, transparent 50%, rgb(211, 97, 53) 50%); /* Réglage de l'angle ici */
}
#menu nav {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inside-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
  margin: 0 auto 1rem auto;
}
.inside-menu a {
  background: rgb(65, 90, 119);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

#user {
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
#user h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 2rem;
}
#user #user-create input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
  outline: none;
  cursor: pointer;
  position: relative;
}
#user #user-create input[type=checkbox]:checked::before {
  content: "•"; /* Utilisation d'un point Unicode pour représenter la coche */
  font-size: 1.2em;
  color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#user #user-edit {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
}
#user #user-edit h2 {
  width: 100%;
}
#user #user-edit fieldset {
  max-width: 48%;
}
#user #user-edit input[type=text] {
  margin-bottom: 1rem;
}
#user #user-edit input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
  outline: none;
  cursor: pointer;
  position: relative;
}
#user #user-edit input[type=checkbox]:checked::before {
  content: "•"; /* Utilisation d'un point Unicode pour représenter la coche */
  font-size: 1.2em;
  color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#user .form-check {
  --border:#d1d5db;
  --cursor:#89909e;
  --checked:#1771e6;
  --checked-cursor: #fff;
  position: relative;
}
#user .form-check input {
  position: absolute;
  opacity: 0;
}
#user .form-check label {
  display: grid;
  grid-template-columns: 2em 1fr;
  grid-template-areas: "checkbox label";
  gap: 0.7em;
}
#user .form-check label::before,
#user .form-check label::after {
  grid-area: checkbox;
  content: "";
  display: block;
  margin-top: 0.1em;
}
#user .form-check label::before {
  width: 100%;
  height: 1em;
  border-radius: 1em;
  border: solid 1px var(--border);
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}
#user .form-check label::after {
  position: relative;
  left: 2px;
  top: 2px;
  width: calc(1em - 2px);
  height: calc(1em - 2px);
  border-radius: 50%;
  background-color: var(--cursor);
  transition: background-color 0.3s, transform 0.3s;
}
#user .form-check input:checked + label::before {
  background-color: var(--checked);
  border-color: var(--checked);
}
#user .form-check input:checked + label::after {
  background-color: var(--checked-cursor);
  transform: translateX(1em);
}
#user .form-check input:focus + label::before {
  box-shadow: 0 0 0 0.25em #c4dbf9;
  border-color: var(--checked);
}
#user form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  font-size: 1.3rem;
  max-width: 300px;
  margin: auto;
}
#user form ul {
  padding: 3rem 0;
  position: relative;
}
#user form ul > ul {
  padding: 1rem;
  position: absolute;
  top: 5px;
  list-style: none;
  background: white;
  box-shadow: 0 0 3px #ccc;
  width: 285px;
}
#user form label {
  text-align: left;
  font-weight: bold;
  margin-top: 1rem;
  width: 100%;
}
#user form input {
  padding: 5px 1rem;
  border-radius: 3px;
  border: 1px solid rgb(65, 90, 119);
  font-size: 1.3rem;
  width: 100%;
  transition: all 0.5s;
}
#user form input:focus {
  background: rgba(77, 170, 87, 0.2);
}
#user form button, #user form a {
  font-size: 1.3rem;
  padding: 5px 1rem;
  border-radius: 3px;
  background: rgba(65, 90, 119, 0.8);
  color: white;
  border: none;
  margin-top: 1rem;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  transition: 0.5s;
}
#user form button:hover, #user form a:hover {
  background: #415a77;
}
#user form a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(158, 0, 49, 0.8);
  font-weight: 200;
}
#user form a:hover {
  background: #9e0031;
}
#user form #delete {
  margin-top: -41px;
  margin-left: auto;
}

#subject-create-block {
  padding: 1rem;
  margin-top: 2rem;
}
#subject-create-block input[type=text] {
  padding: 5px;
  border-radius: 4px;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: rgb(65, 90, 119);
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(119, 141, 169, 0.5);
}

div.themes-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
div.themes-container a {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  background-color: rgba(119, 141, 169, 0.2);
  border-radius: 5px;
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  width: 100%;
  color: rgb(65, 90, 119);
  transition: 0.5s;
}
div.themes-container a:hover {
  background-color: rgba(119, 141, 169, 0.3);
}
div.sujets-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
div.sujets-container a {
  width: 100%;
  background: rgba(119, 141, 169, 0.2);
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-weight: 200;
  color: rgb(65, 90, 119);
}

#gender-fluide {
  width: 70%;
  margin: auto;
  height: 100%;
}
#gender-fluide form h1 {
  font-size: 24px;
  color: #333;
}
#gender-fluide form h2 {
  font-size: 20px;
  color: #555;
  margin-top: 20px;
}
#gender-fluide form label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}
#gender-fluide form input[type=text],
#gender-fluide form input[type=number],
#gender-fluide form textarea {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#gender-fluide form button[type=submit] {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
#gender-fluide form button[type=submit]:hover {
  background-color: #0056b3;
}/*# sourceMappingURL=style.css.map */