@import 'data';
#conteneur {
    max-width:1200px;
    margin:auto;
    padding:0 2rem;
}
// Menu général
#menu {
    @include flexbox(space-between, center);
    background: rgba(white, .8);
    padding:0;
    box-shadow: 0 0 5px rgba($black, .3);
    position:fixed;
    top:0;
    width:100%;
    overflow: hidden;
    a {
        text-decoration: none;
        color:$navy;
    }
    > a {
        font-family:$title;
        font-size:1.4rem;
        transform:scaleY(1.5);
        line-height:3.5rem;
        color:$orange;
        text-transform: uppercase;
        font-weight:200;
        background: $orange;
        color:white;
        padding:0 0 0 1rem;
        &::after {
            content: '';
            position: absolute;
            right: -50px; /* Position à droite */
            top: 0; /* Position en haut */
            bottom: 0; /* S'étend jusqu'en bas */
            width: 50px; /* Largeur de la "bordure" */
            background: linear-gradient(to top left, transparent 50%, $orange 50%); /* Réglage de l'angle ici */
          }
    }
    nav {
        flex:1;
        @include flexbox(space-around, center);
    }
}
.inside-menu {
    @include flexbox(space-around, center);
    max-width:900px;
    margin:0 auto 1rem auto;
    a {
        background: $blue;
        color:white;
        padding:.5rem 1rem;
        border-radius: 4px;
        text-decoration: none;
    }
}
#user {
    h2 {
        text-align: center;
        font-family:$title;
        font-weight:normal;
        font-size:2rem;
    }
    #user-create {
        input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #999;
        outline: none;
        cursor: pointer;
        position: relative;
      }
       input[type="checkbox"]:checked::before {
        content: "\2022"; /* Utilisation d'un point Unicode pour représenter la coche */
        font-size: 1.2em;
        color: #999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }  
    #user-edit {
        @include flexbox(space-between, flex-start, row, wrap);
        max-width:800px;
        h2 {
            width:100%;
        }
        fieldset {
            max-width:48%;
        }
        input {
            &[type="text"] {
                margin-bottom:1rem;
            }
            &[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid #999;
                outline: none;
                cursor: pointer;
                position: relative;
                &:checked {
                    &::before {
                        content: "\2022"; /* Utilisation d'un point Unicode pour représenter la coche */
                        font-size: 1.2em;
                        color: #999;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }  
    .form-check{
        --border:#d1d5db;
        --cursor:#89909e;
        --checked:#1771e6;
        --checked-cursor: #fff;
          position: relative;
           input{
              position: absolute;
              opacity: 0;
      }
           label{
              display: grid;
              grid-template-columns: 2em 1fr;
              grid-template-areas: "checkbox label";
              gap: .7em;
      }
          label::before,
          label::after{
              grid-area: checkbox;
              content: '';
              display: block;
              margin-top: .1em;
      }
          label::before{
              width: 100%;
              height: 1em;
              border-radius: 1em;
              border: solid 1px var(--border);
              transition: background-color .3s, border-color .3s, box-shadow .3s;
      }
          label::after{
              position: relative;
              left: 2px;
              top: 2px;
              width: calc(1em - 2px);
              height: calc(1em - 2px);
              border-radius: 50%;
              background-color: var(--cursor);
              transition: background-color .3s, transform .3s;
      }
          input:checked + label::before{
              background-color: var(--checked);
              border-color: var(--checked);
      }
          input:checked + label::after{
              background-color: var(--checked-cursor);
              transform: translateX(1em);
      }
          input:focus + label::before{
              box-shadow: 0 0 0 0.25em #c4dbf9;
              border-color: var(--checked);
      }
    }  
    max-width:900px; 
    margin:auto;       
    @include flexbox(space-around, flex-start);
    form {
        @include flexbox(flex-start, flex-start, column);
        text-align: left;
        font-size:1.3rem;
        max-width:300px;
        margin:auto;
        ul {
            padding: 3rem 0;
            position:relative;
            > ul {
                padding: 1rem;
                position: absolute;
                top: 5px;
                list-style: none;
                background: white;
                box-shadow: 0 0 3px #ccc;
                width: 285px;
            }
        }
        label {
            text-align: left;
            font-weight:bold;
            margin-top:1rem;
            width:100%;
        }
        input {
            padding:5px 1rem;
            border-radius: 3px;
            border:1px solid $blue;
            font-size:1.3rem;
            width:100%;
            transition:all .5s;
            &:focus {
                background: rgba($green, .2);
            }
        }

        button, a {
            font-size:1.3rem;
            padding:5px 1rem;
            border-radius:3px;
            background: rgba( $blue, .8);
            color:white;
            border:none;
            margin-top:1rem;
            font-family:$title;
            cursor: pointer;
            transition: .5s;
            &:hover {
                background: rgba( $blue, 1);
            }
        }
        a {
            font-family:$title;
            text-decoration:none;
            text-transform:uppercase;
            background: rgba($red, .8);
            font-weight:200;
            &:hover {
                background: rgba( $red, 1);
            }
        }
        #delete {
            margin-top: -41px;
            margin-left: auto;
        }
    }
}

// Les forums
#subject-create-block {
    padding:1rem;
    margin-top:2rem;
    input {
        &[type="text"] {
            padding: 5px;
            border-radius:4px;
            font-size:1.3rem;
            font-family:$title;
            font-weight:200;
            color:$blue;
            width:100%;
            margin-bottom:.5rem;
            border:1px solid rgba($lightBlue, .5);
        } 
    }
}
div{
    &.themes-container {
        @include flexbox(flex-start, flex-start, column);
        a {
            font-family: $title;
            font-size:1.5rem;
            font-weight:200;
            background-color: rgba($lightBlue, .2);
            border-radius: 5px;
            text-decoration: none;
            margin:.5rem 0;
            padding:.5rem 1rem;
            width:100%;
            color:$blue;
            transition: .5s;
            &:hover {
                background-color: rgba($lightBlue, .3);
            }
        }
    }
    &.sujets-container {
        @include flexbox (flex-start, flex-start, column);
        a {
            width:100%;
            background: rgba($lightBlue, .2);
            margin: .5rem 0;
            padding: .5rem;
            font-size:1.2rem;
            font-family: $title;
            text-decoration: none;
            font-weight:200;
            color:$blue;
        }
    }
}

#gender-fluide {
    width: 70%;
    margin: auto;
    height: 100%;
        form{
            h1 {
                font-size: 24px;
                color: #333;
              }
    
              h2 {
                font-size: 20px;
                color: #555;
                margin-top: 20px;
              }
    
    
    
              label {
                display: block;
                margin-bottom: 5px;
                color: #666;
              }
    
              input[type="text"],
              input[type="number"],
              textarea {
                width: 80%;
                padding: 8px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
              }
    
              button[type="submit"] {
                padding: 10px 20px;
                background-color: #007bff;
                border: none;
                border-radius: 4px;
                color: #fff;
                cursor: pointer;
              }
    
              button[type="submit"]:hover {
                background-color: #0056b3;
              }
        }
}